# Container and Iteration

In [1]:
cities = [ "Toulouse", "Pau", "Paris", "Marseille" ]
print("City count: ", len(cities))

City count:  4

In [2]:
for city in cities:
    print(city)

Toulouse
Pau
Paris
Marseille

In [3]:
cities

['Toulouse', 'Pau', 'Paris', 'Marseille']

In [4]:
type(cities)

list

In [5]:
# a list is iterable
it = iter(cities)
it

In [6]:
# end of iteration => exception StopIteration
city = next(it)
city

'Toulouse'

In [7]:
city_dict = {
    "name": "Toulouse",
    "population": 477_000,
    "cp": 31000
}
type(city_dict)

dict

In [8]:
it = iter(city_dict)
it

In [9]:
# default iteration on keys
next(it)

'name'

In [10]:
for info_name in city_dict:
    print(info_name)

name
population
cp

In [11]:
for info_name in city_dict.keys():
    print(info_name)

name
population
cp

In [12]:
for info_value in city_dict.values():
    print(info_value)

Toulouse
477000
31000

In [13]:
for info_name, info_value in city_dict.items():
    print(f"{info_name} = {info_value}")

name = Toulouse
population = 477000
cp = 31000

In [14]:
# list iteration
for city in cities: 
    # str iteration
    for letter in city:
        print(letter, end=' ')
    print()

T o u l o u s e
P a u
P a r i s
M a r s e i l l e

In [15]:
city_tuple = ("Toulouse", 477_000, 31000)
city_tuple

('Toulouse', 477000, 31000)

In [16]:
type(city_tuple)

tuple

In [17]:
it = iter(city_tuple)
it

In [18]:
next(it)

'Toulouse'

In [19]:
r = range(100)
r

range(0, 100)

In [20]:
type(r)

range

In [21]:
it = iter(r)
it

In [22]:
next(it)

0

In [23]:
city_set = { "Pau", "Toulouse" }
city_set

{'Pau', 'Toulouse'}

In [24]:
city_set.add("Pau")
city_set

{'Pau', 'Toulouse'}

In [25]:
it = iter(city_set)
it

In [26]:
# builtin iter calls object.__iter__()
it = cities.__iter__()
it

In [27]:
pop = 477_000
pop

477000

In [28]:
# TypeError: 'int' object is not iterable
#it = iter(pop)

In [29]:
for i, city in enumerate(cities):
    print(i, city)

0 Toulouse
1 Pau
2 Paris
3 Marseille

In [30]:
enumerate?

Init signature: enumerate(iterable, start=0)
Docstring:
Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
Type:           type
Subclasses:

In [31]:
# enumerate are small/lazy objects
enumerate(cities, start=1)

In [32]:
list(enumerate(cities, start=1))

[(1, 'Toulouse'), (2, 'Pau'), (3, 'Paris'), (4, 'Marseille')]

In [33]:
# iterate in // on cities and list [31000, 64000, 75000, 13000]
code_postal = [31000, 64000, 75000, 13000]
list(zip(cities, code_postal))

[('Toulouse', 31000), ('Pau', 64000), ('Paris', 75000), ('Marseille', 13000)]

In [34]:
for city, cp in zip(cities, code_postal):
    print(f"{cp} - {city}")

31000 - Toulouse
64000 - Pau
75000 - Paris
13000 - Marseille

In [35]:
z = zip(cities, code_postal)
it = iter(z)
z, it

(<zip at 0x23c60bb3240>, <zip at 0x23c60bb3240>)

In [36]:
z is it

True

In [37]:
iter(iter(iter(iter(z))))

In [38]:
city, cp = next(it)
print(city, cp)

Toulouse 31000

In [39]:
next(it)

('Pau', 64000)

In [40]:
list(z)

[('Paris', 75000), ('Marseille', 13000)]

In [41]:
list(it)

[]

In [42]:
z.__iter__

In [43]:
z.__next__

## Generator

In [44]:
# expression for: => generator
g = (city.upper() for city in cities)
g

In [46]:
it = iter(g)
assert it is g

In [47]:
list(g)

['TOULOUSE', 'PAU', 'PARIS', 'MARSEILLE']

In [48]:
list(g)

[]

In [49]:
# list comprehension
cities_upper = [ city.upper() for city in cities ]
cities_upper

['TOULOUSE', 'PAU', 'PARIS', 'MARSEILLE']

In [50]:
# dict comprehension
city_letter_count = { city: len(city) for city in cities }
city_letter_count

{'Toulouse': 8, 'Pau': 3, 'Paris': 5, 'Marseille': 9}

In [51]:
list(zip(cities, range(1,10), (len(city) for city in cities)))

[('Toulouse', 1, 8), ('Pau', 2, 3), ('Paris', 3, 5), ('Marseille', 4, 9)]

In [52]:
# total number of letters to write all cities
# NB: expr for is the only arg of function sum
count = sum(len(city) for city in cities)
count

25

In [55]:
# len(city) computed one after another
sum((len(city) for city in cities), start=100)

125

In [56]:
# all len(city) computed in an intermediary list before computing sum
sum([len(city) for city in cities], start=100)

125

In [59]:
# all cities have more than 4 letters
all(len(city) > 4 for city in cities)

False

In [60]:
# any city has more than 4 letters
any(len(city) > 4 for city in cities)

True

In [61]:
list(len(city) > 4 for city in cities)

[True, False, True, True]

In [67]:
# objects with a length
for o in "Toulouse", cities, city_dict, city_tuple, range(10):
    print(o, ':', len(o))

Toulouse : 8
['Toulouse', 'Pau', 'Paris', 'Marseille'] : 4
{'name': 'Toulouse', 'population': 477000, 'cp': 31000} : 3
('Toulouse', 477000, 31000) : 3

In [73]:
# TypeError: object of type 'enumerate' has no len()
for o in [
    # enumerate(cities), 
    # zip(cities, city_dict),
]:
    print(o, ':', len(o))

In [74]:
[ city.upper() for city in cities ]

['TOULOUSE', 'PAU', 'PARIS', 'MARSEILLE']

In [77]:
# map is a lazy object
list(map(str.upper, cities))

['TOULOUSE', 'PAU', 'PARIS', 'MARSEILLE']

In [78]:
def f(x):
    return x**2 + 1

In [80]:
list(map(f, range(10)))

[1, 2, 5, 10, 17, 26, 37, 50, 65, 82]

In [81]:
[ f(x) for x in range(10) ]

[1, 2, 5, 10, 17, 26, 37, 50, 65, 82]

In [82]:
[ x**3 -1 for x in range(10) ]

[-1, 0, 7, 26, 63, 124, 215, 342, 511, 728]

In [83]:
list(map(lambda x: x**3 - 1, range(10)))

[-1, 0, 7, 26, 63, 124, 215, 342, 511, 728]

In [88]:
# filter + map
[ int(text) for text in ["Toulouse", "64", "Pau64" ] if text.isdigit() ]

[64]

In [90]:
list(map(int, filter(str.isdigit, ["Toulouse", "64", "Pau64" ])))

[64]

In [91]:
def fibo():
    a = 0
    b = 1
    yield a
    yield b
    while True:
        a, b = b, a + b
        yield b

In [92]:
g = fibo()
g

In [146]:
next(g)

53316291173

In [147]:
for n,_ in zip(fibo(), range(10)):
    print(n)

0
1
1
2
3
5
8
13
21
34